 .list {
     list-style: none;
     padding: 0;
     margin-left: 10px;

     font-family: 'Roboto';
     font-weight: 400;
     font-size: 18px;
 }

 .item {
     margin-bottom: 2px;
 }

 .item:focus,
 .item:hover {
     color: rgb(247, 19, 38);
 }